@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap");
h1,
h3,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

b,
strong {
  font-weight: 300; }

* {
  box-sizing: border-box; }

h2 {
  color: #22558e;
  font-size: 28px;
  font-weight: 300; }

h3 strong {
  font-weight: 400; }

a {
  color: black;
  text-decoration: none;
  transition: 0.5s; }
  a:hover {
    color: #006b61; }

p {
  font-size: 16px;
  line-height: 1.444; }

iframe {
  max-width: 640px;
  width: 100%; }

img.align-left {
  margin: 0 15px 15px 0; }

.view-header {
  margin: 80px 0px 15px 0px;
  text-align: center; }
  .view-header h2 {
    color: #22558e;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px; }
  .view-header p {
    color: black; }

.views-view-grid .views-row {
  align-content: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%; }

.views-field-title {
  margin-top: 10px;
  text-align: center; }
  .views-field-title span {
    color: #000000;
    font-size: 17px;
    font-weight: 300;
    padding: 4px; }
    .views-field-title span a {
      color: #000000;
      font-size: 17px;
      font-weight: 300;
      padding: 4px;
      text-decoration: none; }
      .views-field-title span a:hover {
        color: #22558e; }

.view-footer {
  margin: 20px 0;
  text-align: center; }
  .view-footer span a {
    border: 1px solid #22558e;
    border-radius: 25px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    padding: 13px 17px; }
    .view-footer span a:hover {
      color: white;
      background-color: #22558e;
      text-decoration: none; }
  .view-footer span span {
    font-size: 26px; }

.get-connected {
  padding-top: 30px; }
  .get-connected h4 {
    font-size: 20px;
    font-weight: 300; }
  .get-connected h2 {
    color: #000000;
    font-size: 38px;
    font-weight: 300; }
  .get-connected h5 {
    font-size: 18px;
    font-weight: 400; }
  .get-connected h6 {
    float: right; }
    .get-connected h6 a {
      background-color: #22558e;
      border-radius: 25px;
      color: white;
      font-weight: 400;
      font-size: 18px;
      padding: 10px 22px;
      text-decoration: none; }

.dialog-off-canvas-main-canvas {
  overflow: hidden; }

.highlighted {
  margin-top: 71px; }

#block-views-block-slider-view-block-1 {
  margin-left: calc(-50vw + 50%);
  width: 100vw; }
  #block-views-block-slider-view-block-1 .owl-item {
    position: relative; }
    #block-views-block-slider-view-block-1 .owl-item img {
      width: 100%; }
    #block-views-block-slider-view-block-1 .owl-item .views-field-title {
      left: 1%;
      position: absolute;
      top: 35%; }
      #block-views-block-slider-view-block-1 .owl-item .views-field-title .field-content {
        font-size: 48px;
        font-weight: 400; }
  #block-views-block-slider-view-block-1 .owl-pagination {
    bottom: 15px;
    position: absolute;
    right: 50%; }

.field p img {
  height: 120px; }

.field p {
  text-align: justify; }

.blog-col {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 30% !important;
  margin: 16px;
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px; }
  .blog-col img {
    padding: 5px;
    margin: 0px;
    max-height: 250px;
    width: 100%; }
  .blog-col:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.05); }

.article-col {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 30% !important;
  margin: 16px;
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px; }
  .article-col img {
    padding: 5px;
    margin: 0px;
    max-height: 250px;
    width: 100%; }
  .article-col:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.05); }

.page-header {
  display: none; }

#block-views-block-testimonial-view-block-1 {
  text-align: center; }
  #block-views-block-testimonial-view-block-1 h2 {
    font-size: 32px;
    font-weight: 400;
    padding: 20px 0px; }
  #block-views-block-testimonial-view-block-1 .owl-item {
    margin-left: 20px;
    padding: 20px; }
  #block-views-block-testimonial-view-block-1 .client-img img {
    border-radius: 50%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 130px; }

#block-aboutus h2 {
  margin-top: 20px;
  font-size: 35px;
  padding: 30px 0px;
  text-align: center; }
  #block-aboutus h2::after {
    background: #22558e;
    content: "";
    display: block;
    height: 2px;
    margin: 15px auto 0 auto;
    margin-top: 14px;
    width: 100px; }

#block-technology .block-title {
  font-size: 35px;
  padding: 30px 0px;
  text-align: center; }
  #block-technology .block-title::after {
    background: #22558e;
    content: "";
    display: block;
    height: 2px;
    margin: 15px auto 0 auto;
    margin-top: 14px;
    width: 100px; }

#block-technology .field--label {
  display: none; }

#block-technology .field--items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -50px; }
  #block-technology .field--items img {
    filter: grayscale(100%);
    width: 100px; }
    #block-technology .field--items img:hover {
      filter: grayscale(0%); }
  #block-technology .field--items .field--item {
    padding: 0px 30px; }

.team-title {
  padding: 20px;
  text-align: center; }

.views-field .member-name {
  font-weight: 400;
  font-size: 18px;
  text-align: center; }

.member-img img {
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 32px;
  width: 200px; }

.team-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  text-align: center; }

.blog-page-col {
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;
  margin: 16px;
  padding: 15px;
  text-align: center; }
  .blog-page-col img {
    padding: 5px;
    margin: 0px;
    height: 220px;
    width: 100%; }

.field--item {
  margin-top: 50px; }
  .field--item img {
    max-width: 100%; }

.project-col {
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;
  margin: 16px;
  padding: 15px;
  text-align: center; }
  .project-col img {
    padding: 5px;
    margin: 0px;
    height: 220px;
    width: 100%; }

#block-address {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
  padding-right: 20px;
  width: 30%; }

.contact-form {
  float: left;
  margin-top: 80px;
  width: 60%; }

@media (max-width: 550px) {
  .highlighted {
    margin-top: -20px; }
  #block-views-block-slider-view-block-1 .owl-item {
    position: relative; }
    #block-views-block-slider-view-block-1 .owl-item img {
      width: 100%; }
    #block-views-block-slider-view-block-1 .owl-item .views-field-title {
      left: 30px;
      position: absolute;
      top: 25px !important; }
      #block-views-block-slider-view-block-1 .owl-item .views-field-title .field-content {
        font-size: 18px !important;
        font-weight: bold; }
  .views-view-grid .views-row {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    width: 100%; }
  .blog-col {
    transition: all 0.3s ease-in-out;
    padding: 10px;
    width: 80% !important;
    margin: 16px;
    border: 1px solid rgba(216, 228, 213, 0.52);
    border-radius: 2px; }
    .blog-col img {
      padding: 5px;
      margin: 0px;
      max-height: 230px;
      width: 100%; }
    .blog-col:hover {
      transform: scale(1.05); }
  .article-col {
    transition: all 0.3s ease-in-out;
    padding: 10px;
    width: 80% !important;
    margin: 16px;
    border: 1px solid rgba(216, 228, 213, 0.52);
    border-radius: 2px; }
    .article-col img {
      padding: 5px;
      margin: 0px;
      max-height: 230px;
      width: 100%; }
    .article-col:hover {
      transform: scale(1.05); }
  .views-col {
    width: 80% !important; }
  .blog-page-col {
    border: 2px solid rgba(216, 228, 213, 0.52);
    border-radius: 2px;
    margin: 16px;
    padding: 10px; }
    .blog-page-col img {
      padding: 5px;
      margin: 0px;
      width: 100%; }
  .team-row {
    align-items: center;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    text-align: center; }
  .team-col {
    padding: 10px;
    margin: 16px; }
  .member-img img {
    border-radius: 50%;
    height: 200px;
    margin-bottom: 10px;
    width: 200px; }
  .contact-form {
    margin-top: 20px; } }

.project-col {
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;
  margin: 16px;
  padding: 10px; }
  .project-col img {
    margin: 0px;
    max-height: 250px;
    padding: 5px;
    width: 100%; }

@media (max-width: 991px) {
  #block-views-block-slider-view-block-1 .owl-item {
    position: relative; }
    #block-views-block-slider-view-block-1 .owl-item img {
      width: 100%; }
    #block-views-block-slider-view-block-1 .owl-item .views-field-title {
      left: 25px;
      position: absolute;
      top: 70px; }
      #block-views-block-slider-view-block-1 .owl-item .views-field-title .field-content {
        font-size: 26px;
        font-weight: bold; }
  #block-address {
    margin-top: 70px 0px 0px 0px; }
  .contact-form {
    margin-top: 70px; } }

@media (max-width: 550px) {
  #block-address {
    display: block;
    margin-top: -60px;
    padding: 10px;
    width: 100%; }
  .contact-form {
    width: 100%; } }

@media (min-width: 550px) {
  .user-login-form {
    margin-top: 100px; } }

@media only screen and (min-width: 742px) and (max-width: 991px) {
  .views-view-grid .team-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center; }
    .views-view-grid .team-row .team-col {
      padding: 10px;
      width: 80% !important;
      margin: 16px; }
  .member-img img {
    border-radius: 50%;
    height: 200px;
    margin-left: 180px;
    margin-bottom: 10px;
    width: 200px; } }

@media only screen and (min-width: 552px) and (max-width: 741px) {
  .views-view-grid .team-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center; }
    .views-view-grid .team-row .team-col {
      padding: 10px;
      width: 80% !important;
      margin: 16px; }
  .member-img img {
    border-radius: 50%;
    height: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
    width: 200px; } }

.logo img {
  height: 55px; }

.name {
  display: none; }

.navbar-inverse .navbar-nav {
  margin-top: 5px; }
  .navbar-inverse .navbar-nav li a {
    padding: 10px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    padding-bottom: 5px; }
    .navbar-inverse .navbar-nav li a:hover {
      border-bottom: 2px solid lightseagreen; }

.navbar-inverse {
  background-color: #22558e;
  border: none;
  position: fixed;
  width: 100%; }

.navbar-toggle {
  background-color: #22558e; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #22558e;
  border-bottom: 2px solid lightseagreen; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none; }

.navbar-collapse ul li {
  margin-left: 5px; }

@media (min-width: 768px) {
  .navbar-nav {
    float: right; } }

@media (max-width: 550px) {
  .navbar-inverse {
    position: sticky; } }

.region-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px; }

.copyright-div {
  margin-top: 35px; }
  .copyright-div a {
    font-size: 17px;
    text-decoration: none;
    text-align: center; }

.copyright {
  margin-top: 100px; }
  .copyright p {
    font-size: 14px;
    text-align: center; }

.address {
  margin-top: -100px; }

.feed-icons {
  display: none; }

.footer {
  background-color: #22558e;
  width: 100%; }
  .footer p {
    color: white; }

.menu--footer li a {
  color: white; }
  .menu--footer li a:hover {
    background-color: #22558e; }

.copyright-div a {
  color: white; }

.icons a {
  font-size: 35px;
  margin-left: 20px;
  padding: 5px; }

@media (max-width: 550px) {
  .menu--footer li {
    display: none; }
  .region-footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center; }
  .address {
    margin-top: 0px; }
    .address p strong {
      margin-left: 35px; }
  .copyright {
    margin-top: 0px; } }

/*# sourceMappingURL=styles.css.map */
