// Colors
$black: #000000;
$white: #ffffff;
$biscay: #21386b;
$light_green: #6da34f;
$green: #2e8800;
$dark_green: #006b61;
$breaker_bay: #509791;
$light-biscay: #91a6d8;
$bay-of-many: #26407e;
$waikawa-gray: #566ea5;
$vida-loca: #518412;
$sushi: #8ec34d;
$link_water: #e5eef8;
$title_color: #22558e;

// Font Size
$font-x-lg: 56px;
$font-lg: 42px;
$font-x-md: 28px;
$font-md: 26px;
$font-x-sm: 22px;
$font-sm: 20px;
$font-x-tiny: 18px;
$font-tiny: 16px;
$view-footer-title: 17px;

// Media Screen
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 550px;
// Small tablets (portrait view)
$screen-md-max: 767px;
// Tablets and small desktops
$screen-lg-max: 991px;
// Large tablets and desktops
$screen-xl-max: 1199px;
$screen-xxl-max: 1445px;
$break-point: 768px;
