@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Small devices
@mixin min-sm {
  @media (min-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}
// Medium devices
@mixin min-md {
  @media (min-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
@mixin xxl {
  @media (max-width: #{$screen-xxl-max}) {
    @content;
  }
}

//card style mixin
@mixin col-style {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 30% !important;
  margin: 16px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;

  img {
    padding: 5px;
    margin: 0px;
    max-height: 250px;
    width: 100%;
  }

  &:hover {
    transition: all 0.3s ease-in;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}

//img mixing

@mixin col-img-style {
  padding: 5px;
  margin: 0px;
  height: 220px;
  width: 100%;
}

@mixin common-title-style {
  font-size: 35px;
  padding: 30px 0px;
  text-align: center;

  &::after {
    background: $title_color;
    content: "";
    display: block;
    height: 2px;
    margin: 15px auto 0 auto;
    margin-top: 14px;
    width: 100px;
  }
}

//responsive card style mixin
@mixin card-style {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 80% !important;
  margin: 16px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;

  img {
    padding: 5px;
    margin: 0px;
    max-height: 230px;
    width: 100%;
  }
  &:hover {
    transform: scale(1.05);
  }
}

//responsive team mixin
@mixin team-style {
  .views-view-grid {
    .team-row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;

      .team-col {
        padding: 10px;
        width: 80% !important;
        margin: 16px;
      }
    }
  }
}
