//frontPage

.get-connected {
  padding-top: 30px;
  h4 {
    font-size: 20px;
    font-weight: 300;
  }
  h2 {
    color: $black;
    font-size: 38px;
    font-weight: 300;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
  }
  h6 {
    float: right;
    a {
      background-color: $title_color;
      border-radius: 25px;
      color: white;
      font-weight: 400;
      font-size: 18px;
      padding: 10px 22px;
      text-decoration: none;
    }
  }
}

//slider style
.dialog-off-canvas-main-canvas {
  overflow: hidden;
}
.highlighted {
  margin-top: 71px;
}
#block-views-block-slider-view-block-1 {
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  .owl-item {
    position: relative;
    img {
      width: 100%;
    }
    .views-field-title {
      left: 1%;
      position: absolute;
      top: 35%;
      .field-content {
        font-size: 48px;
        font-weight: 400;
      }
    }
  }
  .owl-pagination {
    bottom: 15px;
    position: absolute;
    right: 50%;
  }
}

.field {
  p {
    img {
      height: 120px;
    }
  }
  p {
    text-align: justify;
  }
}

.blog-col {
  @include col-style();
}

.article-col {
  @include col-style();
}

.page-header {
  display: none;
}

//testimonial style
#block-views-block-testimonial-view-block-1 {
  text-align: center;
  h2 {
    font-size: 32px;
    font-weight: 400;
    padding: 20px 0px;
  }
  .owl-item {
    margin-left: 20px;
    padding: 20px;
  }
  .client-img {
    img {
      border-radius: 50%;
      height: 130px;
      margin-left: auto;
      margin-right: auto;
      width: 130px;
    }
  }
}

//about us page style
#block-aboutus {
  h2 {
    margin-top: 20px;
    @include common-title-style();
  }
}
#block-technology {
  .block-title {
    @include common-title-style();
  }
  .field--label {
    display: none;
  }
  .field--items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px;
    img {
      filter: grayscale(100%);
      width: 100px;

      &:hover {
        filter: grayscale(0%);
      }
    }
    .field--item {
      padding: 0px 30px;
    }
  }
}

//team-page

.team-title {
  padding: 20px;
  text-align: center;
}
.views-field {
  .member-name {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
}
.member-img {
  img {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 32px;
    width: 200px;
  }
}
.team-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  text-align: center;
}

//blog page

.blog-page-col {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;
  margin: 16px;
  padding: 15px;
  text-align: center;

  img {
    @include col-img-style();
  }
}

.field--item {
  margin-top: 50px;
  img {
    max-width: 100%;
  }
}

//portfolio page
.project-col {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;
  margin: 16px;
  padding: 15px;
  text-align: center;
  img {
    @include col-img-style();
  }
}

//contact form page
#block-address {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
  padding-right: 20px;
  width: 30%;
}
.contact-form {
  float: left;
  margin-top: 80px;
  width: 60%;
}

//responsive styles
@include sm {
  .highlighted {
    margin-top: -20px;
  }
  #block-views-block-slider-view-block-1 {
    .owl-item {
      position: relative;
      img {
        width: 100%;
      }
      .views-field-title {
        left: 30px;
        position: absolute;
        top: 25px !important;
        .field-content {
          font-size: 18px !important;
          font-weight: bold;
        }
      }
    }
  }

  .views-view-grid {
    .views-row {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      width: 100%;
    }
  }

  .blog-col {
    @include card-style();
  }

  .article-col {
    @include card-style();
  }

  .views-col {
    width: 80% !important;
  }
  .blog-page-col {
    //box-shadow: 1px 1px 8px gray;
    border: 2px solid rgba(216, 228, 213, 0.52);
    border-radius: 2px;
    margin: 16px;
    padding: 10px;
    img {
      padding: 5px;
      margin: 0px;
      width: 100%;
    }
  }

  .team-row {
    align-items: center;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .team-col {
    padding: 10px;
    margin: 16px;
  }
  .member-img {
    img {
      border-radius: 50%;
      height: 200px;
      margin-bottom: 10px;
      width: 200px;
    }
  }
  .contact-form {
    margin-top: 20px;
  }
}
.project-col {
  //box-shadow: 1px 1px 8px gray;
  border: 2px solid rgba(216, 228, 213, 0.52);
  border-radius: 2px;
  margin: 16px;
  padding: 10px;

  img {
    margin: 0px;
    max-height: 250px;
    padding: 5px;
    width: 100%;
  }
}

@include lg {
  #block-views-block-slider-view-block-1 {
    .owl-item {
      position: relative;
      img {
        width: 100%;
      }
      .views-field-title {
        left: 25px;
        position: absolute;
        top: 70px;
        .field-content {
          font-size: $font-md;
          font-weight: bold;
        }
      }
    }
  }

  #block-address {
    margin-top: 70px 0px 0px 0px;
  }
  .contact-form {
    margin-top: 70px;
  }
}
@include sm {
  #block-address {
    display: block;
    margin-top: -60px;
    padding: 10px;
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
}

//for user login page
@include min-sm {
  .user-login-form {
    margin-top: 100px;
  }
}

@media only screen and(min-width:742px) and (max-width: $screen-lg-max) {
  @include team-style();
  .member-img {
    img {
      border-radius: 50%;
      height: 200px;
      margin-left: 180px;
      margin-bottom: 10px;
      width: 200px;
    }
  }
}

@media only screen and (min-width: 552px) and (max-width: 741px) {
  @include team-style();
  .member-img {
    img {
      border-radius: 50%;
      height: 200px;
      margin-left: 150px;
      margin-bottom: 10px;
      width: 200px;
    }
  }
}
