.region-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
.copyright-div {
  margin-top: 35px;
  a {
    font-size: 17px;
    text-decoration: none;
    text-align: center;
  }
}
.copyright {
  margin-top: 100px;
  p {
    font-size: 14px;
    text-align: center;
  }
}
.address {
  margin-top: -100px;
}
.feed-icons {
  display: none;
}

.footer {
  background-color: #22558e;
  width: 100%;

  p {
    color: white;
  }
}
.menu--footer {
  li {
    a {
      color: white;
      &:hover {
        background-color: #22558e;
      }
    }
  }
}
.copyright-div {
  a {
    color: white;
  }
}

.icons {
  a {
    font-size: 35px;
    margin-left: 20px;
    padding: 5px;
  }
}
//responsive

@include sm {
  .menu--footer {
    li {
      display: none;
    }
  }
  .region-footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .address {
    margin-top: 0px;
    p {
      strong {
        margin-left: 35px;
      }
    }
  }
  .copyright {
    margin-top: 0px;
  }
}
