@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap");
h1,
h3,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
b,
strong {
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
h2 {
  color: $title_color;
  font-size: 28px;
  font-weight: 300;
}
h3 {
  strong {
    font-weight: 400;
  }
}
a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    color: $dark_green;
  }
}
p {
  font-size: $font-tiny;
  line-height: 1.444;
}
iframe {
  max-width: 640px;
  width: 100%;
}
img {
  &.align-left {
    margin: 0 15px 15px 0;
  }
}

//view header styles start here
.view-header {
  margin: 80px 0px 15px 0px;
  text-align: center;
  h2 {
    color: $title_color;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p {
    color: black;
  }
}

//view grid
.views-view-grid {
  .views-row {
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

//view filed title

.views-field-title {
  margin-top: 10px;
  text-align: center;
  span {
    color: $black;
    font-size: $view-footer-title;
    font-weight: 300;
    padding: 4px;

    a {
      color: $black;
      font-size: $view-footer-title;
      font-weight: 300;
      padding: 4px;
      text-decoration: none;

      &:hover {
        color: $title_color;
      }
    }
  }
}

//view footer
.view-footer {
  margin: 20px 0;
  text-align: center;
  span a {
    border: 1px solid $title_color;
    border-radius: 25px;
    color: $black;
    font-weight: 400;
    font-size: $font-tiny;
    padding: 13px 17px;

    &:hover {
      color: white;
      background-color: $title_color;
      text-decoration: none;
    }
  }
  span {
    span {
      font-size: 26px;
    }
  }
}
