.logo {
  img {
    height: 55px;
  }
}
.name {
  display: none;
}

.navbar-inverse {
  .navbar-nav {
    margin-top: 5px;
    li {
      a {
        padding: 10px;
        color: white;
        font-weight: 700;
        margin-top: 10px;
        padding-bottom: 5px;

        &:hover {
          border-bottom: 2px solid lightseagreen;
        }
      }
    }
  }
}

.navbar-inverse {
  background-color: $title_color;
  border: none;
  position: fixed;
  width: 100%;
}

.navbar-toggle {
  background-color: $title_color;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $title_color;
  border-bottom: 2px solid lightseagreen;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}
.navbar-collapse {
  ul li {
    margin-left: 5px;
  }
}

@media (min-width: $break-point) {
  .navbar-nav {
    float: right;
  }
}

@include sm {
  .navbar-inverse {
    position: sticky;
  }
}
